<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a routerLink="categorias" routerLinkActive="active" class="navbar-brand" aria-current="page" href="#">Categorias</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="pacientes-doctores" routerLinkActive="active" class="nav-link" aria-current="page" href="#">Pacientes/Doctores</a>
        </li>
        <li class="nav-item">
          <a routerLink="categorias" routerLinkActive="active" class="nav-link" aria-current="page" href="#">Categorias</a>
        </li>
        <li class="nav-item">
          <a routerLink="ficha-clinica" routerLinkActive="active" class="nav-link" aria-current="page" href="#">Ficha clinica</a>
        </li>
        <li class="nav-item">
          <a routerLink="reserva-turnos" routerLinkActive="active" class="nav-link" aria-current="page" href="#">Reserva de turnos</a>
        </li>
        <li class="nav-item">
          <a routerLink="reportes" routerLinkActive="active" class="nav-link" aria-current="page" href="#">Reportes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="p-3">
  <router-outlet></router-outlet>
</div>

